<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <link href="/Content/Site.css" rel="Stylesheet" type="text/css" />
    </head>
    <body>
        @RenderBody()
        <div id="home">
            <a href="/">Home</a>
        </div>
    </body>
</html>
