@{
    Page.Title = "Transferring Data Between ASP.NET Web Pages";
}
<h1>Transferring Data Between ASP.NET Web Pages</h1>
<ul>
    <li><a href="/Page1">Hidden Fields</a></li>
    <li><a href="/QueryString">Query String</a></li>
    <li><a href="/UrlData">UrlData</a></li>
    <li><a href="/SetCookie">Cookies</a></li>
    <li><a href="/Session">Session</a></li>
    <li><a href="/App">Application</a></li>
    <li><a href="/Cache">Cache</a></li>
</ul>
