@{
    Page.Title = "Hidden Fields";
}
<h1>Hidden Fields</h1>
<form method="post" action="/Page2">
    <div>Q1: Where is the Olympics 2012 being held?</div>
    <input type="radio" name="Q1" value="London" /> London<br />
    <input type="radio" name="Q1" value="Paris" /> Paris<br />
    <input type="radio" name="Q1" value="Moscow" /> Moscow<br />
    <input type="submit" value="Question 2..." />
</form>

