@{
    Page.Title = "Query String";
}
<h1>Query String</h1>
<form action="/QueryStringValues">
    <div>Provide values for each query string token:</div>
    <div>a: <input type="text" name="a" /></div>
    <div>b: <input type="text" name="b" /></div>
    <div>c: <input type="text" name="c" /></div>
    <div><input type="submit" /></div>
</form>
